/* HEADER */

.styles-link {
    color: black;
    background-color: rgb(239, 196, 117);
    font-size: 18px;
    padding: 19px 40px;
    cursor: default;
}

/* MAIN */

main {
    background-image: url(./../img/styles/estilos-fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .beer-container {
        padding: 100px;
        background-color: rgba(0, 0, 0, 80%);
        border-radius: 20px;
        width: 90%;
        color: white;
        ul{
            display: flex;
            justify-content: space-between;
        }
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            width: 168px;
        }
        img{
            filter: brightness(50%);
            border-radius: 20px;
            height: 100%;
            margin-bottom: 20px;
            &:hover {
                filter: brightness(100%);
                transform: scale(1.2);
                transition: all 0.3s ease;
            }
        }
        h2 {
            margin-bottom: 20px;
        }
        hr {
            width: 40px;
            height: 3px;
            background-color: aliceblue;
            margin-bottom: 10px;
            border-radius: 20px;
        }
    }
}

/* PHONE */


/* HEADER */
/* MAIN */

@media (max-width: 575px) {
    main {
        padding: 2000px 0 1750px 0;
        .beer-container{
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                width: 168px;
                margin-bottom: 100px;
            }
        }
    }
}
